body {
  background-color: rgba(162, 238, 209, 0.247);
}
.btnAcc.active {
  font-weight: 800;
}

.content {
  display: none;
}

@font-face {
  font-family: Quicksand;
  src: url('../font/Quicksand-Regular.ttf');
}

p.text-center {
  font-family: Quicksand;
  font-size: 1.5em;
  font-weight: 800;
}

.accItem {
  border-bottom: 2px solid black;
  margin-bottom: 10px;
  font-size: 1.2em;
}
.accItem.active {
  border-bottom: 0px;
}
