.isiNav {
  display: none;
  position: absolute;
  z-index: 2;
  margin-top: 25px;
  padding-bottom: 2px;
  padding-right: 2px;
}
.navku {
  font-family: Quicksand;
}
.isiNav div a {
  color: black;
  font-weight: 600;
}

@font-face {
  font-family: Quicksand;
  src: url('../font/Quicksand-Regular.ttf');
}
