{% extends 'base.html' %}
{%load static%}
{% block tambahStyle %}
<link rel="stylesheet" href="{% static 'story9/css/styles.css' %}">
{% endblock tambahStyle %}
{% block content %}




<div style="border: 2px solid #f4eeed;width:50%;margin:0 auto;padding:0 20px" class="d-flex justify-content-center mt-5"
    id="containerLogin">
    <div class="d-flex justify-content-center flex-column align-items-center formLoginContainer">

        <form class="formLogin align-self-center" action="" method="POST">
            {% csrf_token %}
            <h1 class="text-center">LOGIN</h1>
            <div class="form-group">
                <label for="username">
                    {{form.username.label}}
                </label>
                {{form.username}}
            </div>
            <div class="form-group">
                <label for="password">

                    {{form.password.label}}
                </label>
                {{form.password}}
            </div>
            <div class="d-flex justify-content-center flex-column align-items-center">
                <input style="width: 75%;" class="align-self-center btn btn-dark" type="submit" id="submitButton" />

            </div>
        </form>

        <div class="mb-5">
            <span style="font-size: .8em;"><a href="/register">Didn't have account?
                </a>
            </span>

        </div>
    </div>



</div>
{% if status == 'failed' %}
<div style="font-family: Quicksand;font-weight:bolder;color:red" class="flex justify-content-center align-items-center">
    <h1 class="text-center">
        username atau password anda salah! <br> atau akun anda belum terdaftar
    </h1>
</div>
{% endif %}


{% endblock content %}
{% block tambahScript %}
<script src="{% static 'story8/js/index.js' %}"></script>
{% endblock tambahScript %}