{% extends 'base.html' %}
{%load static%}
{% block tambahStyle %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock tambahStyle %}
{% block content %}

{% include 'navbar.html' %}
<div style="height:50vh; width:50vw;margin: 1.25rem auto" class=" ">
    <p class="text-center">Know me more, {{user}}!</p>
    <div style="margin-top: 5rem;" class="containerAcc flex flex-col ">
        <div class="accItem w-100 h-50 bg-blue-100 ">
            <div class="flex justify-content-between">

                <button class="btnAcc" id="activity">Aktivitas Sekarang</button>
                <div>
                    <button class="up"><i class="fa fa-angle-up"></i></button>
                    <button class="down"><i class="fa fa-angle-down"></i></button>
                </div>
            </div>
            <div class="content">
                <p>Belajar di semester tiga supaya menjadi orang yang berguna hehe</p>
            </div>

        </div>
        <div class="accItem w-100 h-50 bg-blue-100">
            <div class="flex justify-content-between">

                <button class="btnAcc" id="organization">Pengalaman Organisasi</button>
                <div>
                    <button class="up"><i class="fa fa-angle-up"></i></button>
                    <button class="down"><i class="fa fa-angle-down"></i></button>
                </div>
            </div>
            <div class="content">
                <p>Banyak dehhh, intinya thanks to the experience</p>
            </div>
        </div>
        <div class="accItem w-100 h-50 bg-blue-100">
            <div class="flex justify-content-between">

                <button class="btnAcc" id="prestasi">Prestasi</button>
                <div>
                    <button class="up"><i class="fa fa-angle-up"></i></button>
                    <button class="down"><i class="fa fa-angle-down"></i></button>
                </div>
            </div>
            <div class="content">
                <p>Belum ada di Fasilkom :(</p>
            </div>
        </div>
        <div class="accItem w-100 h-50 bg-blue-100">
            <div class="flex justify-content-between">

                <button class="btnAcc" id="hobby">Hobby</button>
                <div>
                    <button class="up"><i class="fa fa-angle-up"></i></button>
                    <button class="down"><i class="fa fa-angle-down"></i></button>
                </div>
            </div>
            <div class="content">
                <p>Lariyuk</p>
            </div>
        </div>
    </div>
</div>




{% endblock content %}
{% block tambahScript %}
<script src="{% static 'js/index.js' %}"></script>
{% endblock tambahScript %}