@font-face {
  font-family: Quicksand;
  src: url('/story7/static/font/Quicksand-Regular.ttf');
}

.searchBooks {
  font-family: Quicksand;
  /* box-shadow: aquamarine; */
}
.body {
  background-color: wheat;
}
