{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Story</title>
    <link rel="stylesheet" href="{%static 'vendor/tailwind/tailwind.css'%}">
    <link rel="stylesheet" href="{%static 'css/nav.css'%}">

    <link rel="stylesheet" href="{%static 'vendor/bootstrap/bootstrap.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block tambahStyle %}

    {% endblock tambahStyle %}
</head>

<body>




    {% block content %}

    {% endblock content %}


</body>

<script src="{%static 'vendor/jquery/jquery.js'%}"></script>
<script src="{%static 'js/nav.js'%}"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>

{% block tambahScript %}

{% endblock tambahScript %}

</html>