<div style="width: 95vw;" class=" flex flex-row-reverse navku ">
    <div class="flex flex-col bg-blue-400">
        <button id="btnNav">
            <span>Explore <i class="fa fa-angle-down"></i></span>
        </button>
        <div class="isiNav flex flex-col bg-blue-100">

            <div>

                <a href="{% url 'index7'%}">
                    Story 7
                </a>
            </div>
            <div>
                <a href="{% url 'index8'%}">
                    Story 8
                </a>
            </div>
            <div>
                <a href="{% url 'story9index'%}">
                    Story 9
                </a>
            </div>
        </div>
    </div>
</div>