{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    <button id="buttonDemo">Click me!</button>
    <div id='listajax'>

        <!-- <li>hi</li> -->
        <!-- <ul id='listajax'></ul> -->
    </div>
</body>
<script src="{%static 'vendor/jquery/jquery.js'%}"></script>
<script>
    $(document).ready(() => {
        $('#buttonDemo').click(function () {
            $.ajax({
                url: "https://my-json-server.typicode.com/jonathanfilbert/pti-api/data",
                beforeSend: function () {
                    $('#listajax').empty();

                    $('#listajax').append("<p>" + "loading..." + "</p>");
                },
                success: function (result) {
                    $('#listajax').empty();
                    for (i = 0; i < result.anggota.length; i++) {
                        console.log(result.anggota[i])
                        let x = "<li>" + result.anggota[i].nama + "</li>"
                        $('#listajax').append(x);
                    }

                }

            })
        })



    });
</script>

</html>