{% extends 'base.html' %}
{%load static%}
{% block tambahStyle %}
<link rel="stylesheet" href="{% static 'story8/css/books.css' %}">
{% endblock tambahStyle %}
{% block content %}

{% include 'navbar.html' %}

<div style="margin: 0 auto;" class=" bg-gray-100 w-50">
    <h1 class="text-center text-4xl  font-weight-bolder  mb-16">Welcome to Story 8 {{user}} 😊</h1>
</div>
<div style="" class="container searchBooks">
    <div class="form-group">

        <input class="searchBox form-control w-64 mt-10" id="searchBuku" type="text" placeholder="Title...">
        <div class="clearfix">

            <button class="mb-3 float-right search btn  active" type="button" id="btnBook">Find it!</button>
        </div>
    </div>



    <table class="  table table-hover listBuku">
        <thead style="background-color: rgb(155, 106, 106);color:white">
            <tr>
                <th>No</th>
                <th>Nama Buku</th>
                <th>Penulis</th>
                <th>Foto Buku</th>
            </tr>
        </thead>
        <tbody style="background-color: antiquewhite;">

        </tbody>
    </table>
    <div style="padding-bottom:20px;font-weight:bolder" class="navigator d-flex justify-content-around">
        <button type="button" class="prev font-weight-bolder">Prev</button>
        <button type="button" class="numberNavigator font-weight-bolder">1</button>
        <button type="button" class="next font-weight-bolder"> Next</button>
    </div>

</div>
{% endblock content %}
{% block tambahScript %}
<script src="{% static 'story8/js/index.js' %}"></script>
{% endblock tambahScript %}